  #product-list {
    display: flex;
    flex-wrap: wrap;
  }
body{
  background-image: url("https://t3.ftcdn.net/jpg/02/64/92/28/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg");background-size: cover;
}
  .product {
    width: 33.33%;
    text-align: center;
    font-size: 18px;
  }

  .add-to-cart {
    background-color: blue;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .pagination {
    justify-content: center;
    display: flex;margin-top:10px;
  }
.home{
  margin-left:40%;height:40px;width:130px; background-color: green;
  color: white;cursor:pointer;
}

    h1 {
      text-align: center;
      margin: 20px 0;
      padding: 10px;
      background-color: #00ff1e;
      color: #fff;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 2px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
